.search-bar {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.search-bar input {
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 240px;
  box-sizing: border-box;
  height: 42px;
}

.search-bar button {
  height: 41px;
  
  background-color: #1a73e8;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.95rem;
  transition: background-color 0.3s ease;
 margin-top: 1px;
 margin-left: 10px;
  align-items: center;
}

.search-bar button:hover {
  background-color: #155ec0;
}
