.weather-today {
    width: 100%;
    max-width: 440px;
    background-color: #ffffff;
    padding: 1.2rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    text-align: center;
    margin: 2rem auto;
    color: #333;
}

.app.dark .weather-today {
    background-color: #2c2c2c;
    color: #f4f4f4;
}