.app {
  max-width: fit-content;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.weather-box {
  background-color: #f0f0f0;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.app.sunny {
  background: linear-gradient(to bottom, #ffeaa7, #fdcb6e);
}

.app.cloudy {
  background: linear-gradient(to bottom, #dfe6e9, #b2bec3);
}

.app.rainy {
  background: linear-gradient(to bottom, #a29bfe, #6c5ce7);
}

.app.snowy {
  background: linear-gradient(to bottom, #dfefff, #b2ebf2);
}

.app.default {
  background-color: #f8f9fa;
}